:root {
    --nav--item-width: 100px;
    --nav--item-height: 30px;
    --nav--item-border-width: 5px;
    --background-color: #eae0c1;
    --content-color:#dacfb6;
    --color1: #ffeb3b;
    --color2: #fdd835;
    --color3:#fbc02d;
    --color4:#f9a825;
    --color5:#f57f17;
    --color6:#cbe5cc;
    --color7:#98cb9a;
    --color8:#65B168;
    --color9:#3d9241;
    --color10:#2b662e;
    --text-color:#212121;
    --deep-grey:#757575;
    --light-grey:#bdbdbd;
    --fontSize-of-main-title: 60px;
    --fontSize-of-second-title: 50px;
}
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    position: relative;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
#loader
{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    z-index: 100;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
#loader span
{
    position: absolute;
    display: block;
}
#loader span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, transparent,var(--color8));
    animation: animate1 1s linear infinite;
    animation-delay: 0s;
}
@keyframes animate1 {
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}
#loader span:nth-child(3)
{
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 40px;
    background: linear-gradient(270deg, transparent,var(--color8));
    animation: animate3 1s linear infinite;
    animation-delay: 0s;
}
@keyframes animate3 {
    0%{
        left: 100%;
    }
    100%{
        left: -100%;
    }
}
#loader span:nth-child(2)
{
    right: 0;
    top: -100%;
    width: 40px;
    height: 100%;
    background: linear-gradient(180deg, transparent,var(--color8));
    animation: animate2 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate2 {
    0%{
        top: -100%;
    }
    100%{
        top: 100%;
    }
}
#loader span:nth-child(4)
{
    left: 0;
    top: 100%;
    width: 40px;
    height: 100%;
    background: linear-gradient(0deg, transparent,var(--color8));
    animation: animate4 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate4 {
    0%{
        top: 100%;
    }
    100%{
        top: -100%;
    }
}

.fixed-button {
    position: fixed;
    bottom: 15px;
    right: -100px;
    padding: 5px 5px;
    background-color: var(--color7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1000;
    opacity: 1;
    transition: right 0.5s ease-in-out;
}
.header{
    width: 100%;
    height: 30px;
    top: -30px;
    background-color: var(--color7);
    color: white;
    padding: 5px;
    text-align: center;
    position: fixed;
    z-index: 5;
    transition: top 0.5s ease-in-out;
}
.header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header nav ul li{
    display: inline;
    margin:0 15px;
}
.header nav ul li a{
    color: black;
    text-decoration: none;
    background-color: var(--color7);
    top: 5px;
    position: relative;
    margin: 5px 5px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.5s ease-in-out,background-color 0.5s ease-in-out;
}
.header nav ul li a:hover{
    color: white;
    background-color: var(--color8);
}

.title {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.subtitle {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.imageWithText{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.textBox {
    position: relative;
    width: 600px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    text-align: center ;
    color:white;
    box-shadow:0 1px 1px rgba(0,0,0,0.1),
                0 2px 2px rgba(0,0,0,0.1),
                0 4px 4px rgba(0,0,0,0.1),
                0 8px 8px rgba(0,0,0,0.1),
                0 16px 16px rgba(0,0,0,0.1);
    overflow: hidden;
    
}
.textBox:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    filter: blur(0px);
    background-size: cover;
    background-position: 0 0;
    transition: transform 1s cubic-bezier(0.19,1,0.22,1), filter 1s cubic-bezier(0.19,1,0.22,1);
    overflow: hidden;
}
#zhaiDetail:before{
    background-image: url(../images/zhaiDetail.png);
}
#range:before{
    background-image: url(../images/range.jpg);
}
#participant:before{
    background-image: url(../images/participant.png);
}
#quality:before{
    background-image: url(../images/quality.jpg);
}
.textBox::after {
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gardient(to bottom, 
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.25) 55%,
        rgba(0,0,0,0.8) 100%);
    position:absolute;
    top:0;
    left:0;
    transition: transform 1.4s cubic-bezier(0.19,1,0.22,1);
}
.textBox .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 10px;
    transition: transform 0.7s cubic-bezier(0.19,1,0.22,1);
}
.textBox h1{
    font-weight: bold;
}
.textBox h2{
    font-size: 18px;
    opacity: 0.5;
    transition: transform 0.7s cubic-bezier(0.19,1,0.22,1), opacity 0.7s ease-in-out;
} 
.textBox p{
    font-size: 18px;
    letter-spacing: 2px;
    width:80%;
    text-align: justify;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 5px;
}
.textBox .content *:not(h2){
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.7s cubic-bezier(0.19,1,0.22,1), opacity 0.7s ease-in-out;
}
.textBox:hover:before{
    transform: translateY(-5%);
    filter: blur(10px);
}
.textBox:hover::after{
    transform: translateY(-50%);
}
.textBox:hover .content{
    transform: translateY(-20px);
} 
.textBox:hover .content *:not(h2){
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s;
}
.textBox:hover h2{
    opacity: 0;
}
.maintitle {
    font-size: var(--fontSize-of-main-title);
    transition: font-size 0.5s ease-in-out;
    white-space: nowrap;
    text-align: center;
}
.unitOpen{
    width: 100%;
    height: 30vw;
    position: relative;
    overflow: hidden;
}
.unitOpen img{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-width: 800px;
    height: auto;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: brightness(1);
    transition: filter 0.5s ease-in-out;
}
.unitOpen h1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    z-index: 10;
}
.unitOpen.show img{
    filter: brightness(0.3);
}
.unitOpen.show h1{
    opacity: 1;
}

#intro{
    color: rgba(0,0,0,0.2);
    transition: color 0.5s ease-in-out;
}
#intro:hover{
    color: rgba(0,0,0,0.7);
}
.paragraph {
    color: var(--text-color);
    margin: 5px auto;
    max-width: 800px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    opacity:0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.paragraph.visible{
    opacity: 1;
    transform: translateY(0);
}
.twinkle {
    font-size: 18px;
    font-weight: bold;
    animation: twinkle 2s ease-in-out infinite;
}
@keyframes twinkle {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.question {
    color: var(--text-color);
    margin: 5px auto;
    max-width: 800px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
}
.newslist {
    justify-content: center;
    display: flex;
    align-items: center;
}

.nav {
    width: calc(var(--nav--item-width) * 3 + var(--nav--item-border-width) * 2);
    position: relative;
    background: var(--color7);
    border-radius: 24px;
    font-size: 0;
    z-index: 1;
    padding: var(--nav--item-border-width);
    justify-content: center;
    align-items: center;
}

.nav-item {
    width: var(--nav--item-width);
    height: var(--nav--item-height);
    font-size: 18px;
    color: #000000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.nav>input[type="radio"][name="newsyear"] {
    width: 0;
    height: 0;
    opacity: 0;
}

.nav>input[type="radio"][name="newsyear"]:checked+label {
    color: #ffffff
}

.tracker {
    width: var(--nav--item-width);
    height: var(--nav--item-height);
    background-color: var(--color8);
    z-index: -1;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: calc(var(--nav--item-border-width));
    top: var(--nav--item-border-width);
    border-radius: 24px;
    transition: transform 0.3s ease-in-out;
}

#nav-item-2:checked~.tracker {
    transform: translateX(calc(var(--nav--item-width) * 1));
}

#nav-item-3:checked~.tracker {
    transform: translateX(calc(var(--nav--item-width) * 2));
}

.yearnews {
    justify-content: center;
    display: flex;
    align-items: center;
}

.news {
    overflow: hidden;
    width: 0;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color:var(--color7);
    border-radius: 10px;
    opacity: 0;
    font-size: 0;
    text-align: left;
    line-height: 1.6;
    transition: width 0.5s ease-in-out, font-size 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

.news.show {
    width: 60%;
    opacity: 1;
    font-size: 18px;
}

.blockcontent {
    padding: 10px;
    position: relative;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#china_map{
  width: 100%;
  height: 500px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  overflow: hidden;
  border: 2px solid #000;
  border-radius: 15px;
}
.contentbackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--content-color);
    z-index: -1;
}

.normalimage {
    width: 60%;
    height: auto;
    justify-content: center;
}
.scroll-container{
    width: 650px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}
.images{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.images img{
    width: 600px;
    height: 400px;
    margin: 50px;
    border-radius: 10px;
}
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.card {
    width: 80px;
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(0.28,-0.03,0,0.99);
    box-shadow: 0 10px 30px -5px rgba(0,0,0,0.8);
}
.card>.row{
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    opacity: 0.7;
    align-items: center;
    margin: 15px;
}
.card>.row>.description {
    display: fle;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: 0.3s;
    transition: all 0.3s ease-in-out;
}
.description p{
    color: #eaeaef;
    padding-top: 5px; 
}
.description h4{
    text-transform: uppercase;
}
input[name = "slide"] {
    display: none;
}
input[name = "slide"]:checked+label {
    width: 700px;
}
input[name = "slide"]:checked+label .description{
    opacity: 1 !important;
    transform: translateY(0px) !important;
}
.card[for='c1']{
    background-image: url('../images/provinceTop10.png');
}
.card[for='c2']{
    background-image: url('../images/companyCityTop10.gif');
}
.card[for='c3']{
    background-image: url('../images/customerNumber.gif');
}
.card[for='c4']{
    background-image: url('../images/increaseRate.gif');
}
.conclusion {
    position: relative;
    display: block;
    text-align: center;
}
.timeline{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
}
.line {
    width: 5px;
    height: 100%;
    background-color: var(--color7);
    position: absolute;
    top: 10;
    left: 50%;
    z-index: -99;
}
.left {
    width: 35%;
    margin-left: 10%;
}
.right {
    width: 35%;
    margin-left: 55%;
}
.left::before{
    content:"";
    display: block;
    width:15px;
    height: 15px;
    border:4px solid var(--color7);
    border-radius: 50%;
    left: 50%;
    margin-left: -9.5px;
    margin-top:3%;
    position: absolute;
    background-color:var(--background-color) ;
}
#footer{
    position: relative;
    bottom: 0;
    padding: 20px;
    height: auto;
    background-color: var(--color7);
}
#footer span{
    width: 1000px;
    display: inline-block;
    white-space: nowrap;
    justify-content: center;
    text-align: center;
}